<%= form_with model: @company, local: true do |f|%>
  <div>
    <%= f.label :image %>
  </div>
  <div>
    <%= f.file_field :image %>
  </div>
  <div>
    <%= f.label :name %>
  </div>
  <div>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :introduction %>
  </div>
  <div>
    <%= f.text_area :introduction %>
  </div>
  <div>
    <%= f.label :address %>
  </div>
  <div>
    <%= f.text_area :address %>
  </div>
  <div>
    <%= f.label :email %>
  </div>
  <div>
    <%= f.email_field :email %>
  </div>
  <div>
    <%= f.label :number_of_employees %>
  </div>
  <div>
    <%= f.number_field :number_of_employees %>
  </div>
  <div>
    <%= f.label :capital %>
  </div>
  <div>
    <%= f.number_field :capital %>
  </div>
  <div>
    <%= f.label :Date_of_establishment %>
  </div>
  <div>
    <%= f.date_select :Date_of_establishment %>
  </div>
  <div>
    <%= f.label :corporate_site %>
  </div>
  <div>
    <%= f.text_area :corporate_site %>
  </div>
    <%= f.submit %>
<% end %>
