<h1>Companies#new</h1>
<p>Find me in app/views/companies/new.html.erb</p>

<%= form_with model: @campany, local: true do |f|%>
  <div>
    <%= f.label :name %>
  </div>
  <div>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :introduction %>
  </div>
  <div>
    <%= f.text_area :introduction %>
  </div>
  <div>
    <%= f.label :address %>
  </div>
  <div>
    <%= f.text_area :address %>
  </div>
  <div>
    <%= f.label :mail %>
  </div>
  <div>
    <%= f.email_field :mail %>
  </div>
  <div>
    <%= f.label :number_of_emplayees %>
  </div>
  <div>
    <%= f.number_field :number_of_emplayees %>
  </div>
  <div>
    <%= f.label :capital %>
  </div>
  <div>
    <%= f.number_field :capital %>
  </div>
  <div>
    <%= f.label :Date_of_establishment %>
  </div>
  <div>
    <%= f.date_select :Date_of_establishment %>
  </div>
  <div>
    <%= f.label :corporate_site %>
  </div>
  <div>
    <%= f.text_area :corporate_site %>
  </div>
    <%= f.submit %>
<% end %>

