<div>
  name
</div>
<div>
  <%= @product.name %>
</div>
<div>
  introduction
</div>
<div>
  <%= @product.introduction %>
</div>
<div>
  category
</div>
<div>
  <%= @product.category.name %>
</div>
<div>
  available_from
</div>
<div>
  <%= @product.available_from %>
</div>
<div>
  available_to
</div>
<div>
  <%= @product.available_to %>
</div>
<div>
  company
</div>
<div>
  <%= @product.company.name %>
</div>
  <%= link_to '編集', edit_company_path %>
